numpy>=1.17.4
pandas>=0.23.4
scikit-learn>=0.21.2
spacy>=2.0.18
scikit-image>=0.14.2
requests>=2.21.0
Pillow>=6.0.0
beautifulsoup4>=4.7.1
tensorflow>=1.15.0,<2.0
attrs>=19.1.0
prettyprinter>=0.18.0
seaborn>=0.9.0
Keras>=2.2.4
pytest>=5.3.5
pytest-cov>=2.6.1
pytest-lazy-fixture>=0.6.3
pytest-xdist>=1.28.0
sphinx>=2.1.2,<3.0
flake8>=3.7.7
mypy>=0.670
sphinx-autodoc-typehints>=1.6.0,<1.10
sphinx-rtd-theme>=0.4.3
m2r>=0.2.1
sphinxcontrib-apidoc>=0.3.0
nbsphinx>=0.4.2
nbsphinx-link>=1.2.0
ipykernel>=5.1.0
ipython>=7.2.0
codecov>=2.0.15
pre-commit>=1.20.0
shap>=0.35.0
scipy>=1.3.1
