pytest>=5.3.5
pytest-cov>=2.6.1
sphinx>=2.1.2,<3.0
pytest-xdist>=1.28.0
pytest-lazy-fixture>=0.6.3
flake8>=3.7.7
mypy>=0.670
sphinx-autodoc-typehints>=1.6.0,<1.10
sphinx-rtd-theme>=0.4.3
m2r>=0.2.1
sphinxcontrib-apidoc>=0.3.0
nbsphinx>=0.4.2
nbsphinx-link>=1.2.0
ipykernel>=5.1.0
ipython>=7.2.0
codecov>=2.0.15
pre-commit>=1.20.0
shap>=0.35.0
