# This workflows executes all example notebooks to ensure they are up-to-date.

name: test_all_notebooks

defaults:
  run:
    shell: bash  # To override PowerShell on Windows

on:
  # Trigger the workflow on manual dispatch and once a week
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test_notebooks:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [ '3.7', '3.8', '3.9' ]
        include: # Run macos and windows tests on python 3.9 only
          - os: windows-latest 
            python-version:  '3.9'
          - os: macos-latest 
            python-version:  '3.9'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade --upgrade-strategy eager -r requirements/dev.txt -r testing/requirements.txt
          python -m pip install --upgrade --upgrade-strategy eager -e .
          if [ "$RUNNER_OS" != "Windows" ]; then  # Skip distributed tests on windows for now (Windows support for ray is experimental https://docs.ray.io/en/latest/installation.html#windows-support)
            python -m pip install --upgrade --upgrade-strategy eager -e .[ray]
          fi
          python -m pip install --upgrade --upgrade-strategy eager -e .[shap]
          python -m spacy download en_core_web_md
          python -m pip freeze

      - name: Run notebooks
        run: |
          pytest --no-cov -rA --durations=0 -vv testing/test_notebooks.py
